<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h3>Remove Customer</h3>
<p>
    <a th:href="@{/customers}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/delete}" th:object="${customer}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>First Name: </label>
            <label th:text="${customer.firstName}"></label>
        </div>
        <div>
            <label>Last Name: </label>
            <label th:text="${customer.lastName}"></label>
        </div>
        <div>
            <label>Province: </label>
            <label th:text="${customer.province.name}"></label>
        </div>
        <input type="submit" value="Remove"></input>
    </form>
</div>
</body>
</html>